{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">Home</div>
                    <p>Benvenuto nella home.</p>
                    {% if user.is_authenticated %}
                        <p>Qui troverai le funzionalità più importanti del sito.</p>
                    {% else %}
                        <p>Puoi eseguire l'accesso premendo in alto a destra la voce Login !</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col l9 s12">
                <div class="card">
                    <div class="card-content center-align">
                        <div class="card-title">Prodotti in magazzino</div>
                        <select id="filter-list-pie" multiple>
                            {% for categoria in categorie %}
                                <option>{{ categoria.Nome }}</option>
                            {% endfor %}
                        </select>
                        <canvas id="magazzino-pie" width="300" height="300"></canvas>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content center-align">
                        <div class="card-title">Prodotti piu venduti</div>
                        <select id="filter-list-venduti" multiple>
                            {% for categoria in categorie %}
                                <option>{{ categoria.Nome }}</option>
                            {% endfor %}
                        </select>
                        <canvas id="piu-venduti" width="300" height="300"></canvas>
                    </div>
                </div>
            </div>
            <div class="col l3 s12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">Acquista</div>
                        <form id="form-acquisto" method="POST" class="center-align">
                            {% csrf_token %}
                            {{ acquistoFrom.as_p }}
                            <button id="submit-acquisto" class="waves-effect waves-light btn" type="button" onclick="acquistoClick()">Acquista</button>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">Vendi</div>
                        <form id="form-vendita" method="POST" class="center-align">
                            {% csrf_token %}
                            {{ venditaFrom.as_p }}
                            <button id="submit-vendita" class="waves-effect waves-light btn" type="button" onclick="venditaClick()">Vendi</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    {% if user.is_authenticated %}
        <script>
            var chartVendite
            var chartMagazzino;

            $(document).ready( function() {
                var ctx = document.getElementById('piu-venduti').getContext('2d');
                var ctx2 = document.getElementById('magazzino-pie').getContext('2d');
                chartVendite = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [],
                        datasets: [{
                            label: '',
                            data: [],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
                chartMagazzino = new Chart(ctx2, {
                    type: 'doughnut',
                    data: {
                        labels: [],
                        datasets: [{
                            label: '',
                            data: [],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

                $(function() {
                    $('#filter-list-pie').change(function(e) {
                        var selected = $(e.target).val();
                        HandleFilterChangePie(selected);
                    });
                });
                $(function() {
                    $('#filter-list-venduti').change(function(e) {
                        var selected = $(e.target).val();
                        HandleFilterChangePiuVenduti(selected);
                    });
                });

                refreshGraph();
            });


            function acquistoClick() {
                var isFormValid = $("#form-acquisto")[0].checkValidity();

                if (isFormValid) {
                    var adesso = new Date();
                    var data = serializeArrayToFormData($("#form-acquisto").serializeArray());

                    data['Negozio'] = "{{ Negozio }}";
                    data['DataA'] = moment(new Date()).format('YYYY-MM-DD HH:mm');

                    $.post("{% url 'api:acquisto-create' %}", data, function(data, status){
                        var txtFornitore = $("#form-acquisto > p > .select-wrapper > #id_Fornitore option:selected").text()
                        var txtProdotto = $("#form-acquisto > p > .select-wrapper > #id_Prodotto option:selected").text();
                        var txtQuantita = $("#form-acquisto > p > #id_Quantita").val();

                        if (txtFornitore == '---------' || txtFornitore == '') {
                            M.toast({
                                html: 'Acquisto di ' + txtQuantita + ' x ' + txtProdotto,
                                classes: 'green-text'
                            });
                        } else {
                            M.toast({
                                html: 'Acquisto di ' + txtQuantita + ' x ' + txtProdotto + ' da ' + txtFornitore,
                                classes: 'green-text'
                            });
                        }
                    });

                    $("#form-acquisto").find("input[type=text], textarea").val("");
                } else {
                    M.toast({
                        html: 'Inserire tutti i valori!',
                        classes: 'red-text'
                    });
                }
            }

            function venditaClick() {
                var isFormValid = $("#form-vendita")[0].checkValidity();

                if (isFormValid) {
                    var adesso = new Date();
                    var data = serializeArrayToFormData($("#form-vendita").serializeArray());

                    data['Negozio'] = {{ Negozio }};
                    data['DataV'] = moment(new Date()).format('YYYY-MM-DD HH:mm');

                    $.post("{% url 'api:vendita-create' %}", data, function(data, status){
                        refreshGraph();

                        var txtProdotto = $("#form-vendita > p > .select-wrapper > #id_Prodotto option:selected").text();
                        var txtQuantita = $("#form-vendita > p > #id_Quantita").val();

                        M.toast({
                            html: 'Vendita di ' + txtQuantita + ' x ' + txtProdotto,
                            classes: 'green-text'
                        });
                    });

                    $("#form-acquisto").find("input[type=text], textarea").val("");
                } else {
                    M.toast({
                        html: 'Inserire tutti i valori!',
                        classes: 'red-text'
                    });
                }
            }


            function refreshGraph() {

                var data = {
                    NegozioId: {{ Negozio }},
                    Filters: []
                }

                $.ajax({
                    type: 'POST',
                    contentType: "application/json",
                    url: "{% url 'api:topselled_products_by_filter' %}",
                    headers: {
                        "X-CSRFToken": document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    },
                    data: JSON.stringify(data),
                    dataType: 'json'
                }).done(function(data) {
                    fetchVenditeResponse(chartVendite, data);
                });

                $.ajax({
                    type: 'POST',
                    contentType: "application/json",
                    url: "{% url 'api:negozio-get-topsupplied' %}",
                    headers: {
                        "X-CSRFToken": document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    },
                    data: JSON.stringify(data),
                    dataType: 'json'
                }).done(function(data) {
                    fetchMagazzinoResponse(chartMagazzino, data);
                });

            }

            function addToGraph(chart, label, data) {
                chart.data.labels.push(label);
                chart.data.datasets.forEach((dataset) => {
                    dataset.data.push(data);
                });
            }

            function resetGraph(chart){
                chart.data.labels = [];
                chart.data.datasets.forEach((dataset) => {
                    dataset.data = [];
                });
            }

            function fetchVenditeResponse(chart, resp) {
                resetGraph(chart);
                resp.forEach(json => {
                    addToGraph(chart, json.Prodotto__Nome, json.QuantitaVenduta);
                });
                chart.update();

            }
            function HandleFilterChangePiuVenduti(filterList)
            {
                var data = {
                    NegozioId: {{ Negozio }},
                    Filters: filterList
                }

                $.ajax({
                    type: 'POST',
                    contentType: "application/json",
                    url: "{% url 'api:topselled_products_by_filter' %}",
                    headers: {
                        "X-CSRFToken": document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    },
                    data: JSON.stringify(data),
                    dataType: 'json'
                }).done(function(data) {
                    fetchVenditeResponse(chartVendite, data);
                });

            }

            function HandleFilterChangePie(filterList)
            {
                var data = {
                    NegozioId: {{ Negozio }},
                    Filters: filterList
                }

                $.ajax({
                    type: 'POST',
                    contentType: "application/json",
                    url: "{% url 'api:negozio-get-topsupplied' %}",
                    headers: {
                        "X-CSRFToken": document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    },
                    data: JSON.stringify(data),
                    dataType: 'json'
                }).done(function(data) {
                    fetchMagazzinoResponse(chartMagazzino, data);
                });
            }

            function fetchMagazzinoResponse(chart, resp){
                resetGraph(chart);
                resp.forEach(json=>{
                    if (json.QuantitaDepositata < 0) return;
                    addToGraph(chart, json.Prodotto__Nome, json.QuantitaDepositata);
                });
                chart.update();
            }
        </script>
    {% endif %}
{% endblock %}