{% extends 'base.html' %}

{% block title %}Lista prodotti{% endblock %}

{% block content %}
    <div class="row">
        <div class="card">
            <div class="card-content">
                <div class="card-title">Lista dei prodotti</div>
                <form id="form-nuovo-prodotto" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn" type="button" onclick="aggiungiProdotto()">Aggiungi <i class="material-icons right">add</i></button>
                </form>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn">
        <a href="{% url 'magazzino:nuovo-prodotto' %}" class="btn-floating btn-large green">
            <i class="large material-icons black-text">add</i>
        </a>
    </div>
{% endblock %}

{% block script %}
    <script>
        function aggiungiProdotto() {
            var isFormValid = $("#form-nuovo-prodotto")[0].checkValidity();

            if (isFormValid) {
                var data = serializeArrayToFormData($("#form-nuovo-prodotto").serializeArray());
                console.log(data);
                $.ajax({
                    type: 'POST',
                    contentType: "application/json",
                    url: "{% url 'api:prodotto-create' %}",
                    headers: {
                        "X-CSRFToken": document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    },
                    data: JSON.stringify(data),
                    dataType: 'json'
                }).done(function(data) {
                    M.toast({
                        html: 'Prodotto inserito!',
                        classes: 'green-text'
                    });
                });

                $("#form-acquisto").find("input[type=text], textarea").val("");
            } else {
                M.toast({
                    html: 'Inserire tutti i valori!',
                    classes: 'red-text'
                });
            }
        }
    </script>
{% endblock %}