{% extends 'base.html' %}

{% block title %}Lista prodotti{% endblock %}

{% block content %}
    <div class="row">
        <div class="card">
            <div class="card-content">
                <div class="card-title">Lista dei prodotti</div>
                <table class="centered responsive-table">
                    <thead>
                        <th>Nome Prodotto</th>
                        <th>Quantita del prodotto</th>
                        <th>Descrizione</th>
                        <th>Operazioni</th>
                    </thead>
                    <tbody>
                        {% for deposito in object_list %}
                        <tr>
                            <td>{{ deposito.Prodotto.Nome }}</td>
                            <td id="quantita_{{ deposito.Prodotto.id }}">{{ deposito.Quantita }} {{ deposito.Prodotto.UnitaDiMisura }}</td>
                            <td>{{ deposito.Descrizione }}</td>
                            <td>
                                {% if deposito.Quantita < 0 %}
                                    <button class="waves-effect waves-light btn" onclick="acquistaProdotti(this, {{ deposito.Prodotto.id }}, '{{ deposito.Prodotto.Nome }}', {{ deposito.Quantita }})">Azzera</button>
                                {% elif deposito.Quantita > 0 %}
                                    <button class="waves-effect waves-light red btn" onclick="vendiProdotti(this, {{ deposito.Prodotto.id }}, '{{ deposito.Prodotto.Nome }}', {{ deposito.Quantita }})">Vendi Tutto</button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn">
        <a href="{% url 'magazzino:nuovo-prodotto' %}" class="btn-floating btn-large green">
            <i class="large material-icons black-text">add</i>
        </a>
    </div>
{% endblock %}

{% block script %}
<script>
    function vendiProdotti(bottone, ProdottoId, ProdottoNome, Quantita){
        var data = {};

        data['Negozio'] = {{ Negozio }};
        data['Prodotto'] = ProdottoId;
        data['Quantita'] = Quantita;
        data['DataV'] = moment(new Date()).format('YYYY-MM-DD HH:mm');

        $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: "{% url 'api:vendita-create' %}",
            headers: {
                "X-CSRFToken": '{{ csrf_token }}',
            },
            data: JSON.stringify(data),
            dataType: 'json'
        }).done(function(data) {
            M.toast({
                html: 'Vendita di ' + Quantita + ' x ' + ProdottoNome,
                classes: 'green-text'
            });

            $("#quantita_"+ProdottoId)[0].innerText = $("#quantita_"+ProdottoId)[0].innerText.replace(Quantita, "0");
            bottone.remove();
        });
    }

    function acquistaProdotti(bottone, ProdottoId, ProdottoNome, Quantita){
        var data = {};

        Quantita = Quantita * -1;

        data['Negozio'] = {{ Negozio }};
        data['Prodotto'] = ProdottoId;
        data['Quantita'] = Quantita;
        data['DataA'] = moment(new Date()).format('YYYY-MM-DD HH:mm');

        $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: "{% url 'api:acquisto-create' %}",
            headers: {
                "X-CSRFToken": '{{ csrf_token }}',
            },
            data: JSON.stringify(data),
            dataType: 'json'
        }).done(function(data) {
            M.toast({
                html: 'Acquisto di ' + Quantita + ' x ' + ProdottoNome,
                classes: 'green-text'
            });

            $("#quantita_"+ProdottoId)[0].innerText = $("#quantita_"+ProdottoId)[0].innerText.replace(Quantita, "0");
            bottone.remove();
        });
    }
</script>

{% endblock %}