{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <!--Import Google Font And Icons-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!--<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}" media="screen,projection"/>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <script>
        $(document).ready(function() {
            $('.dropdown-trigger').dropdown({
                coverTrigger: false,
                constrainWidth: false
            });
        });
    </script>
    {% block script %}{% endblock %}
    <ul id="menu-utente" class="dropdown-content">
        {% if user.is_authenticated %}
            <li><a href="{% url 'magazzino:logout' %}" class="red-text text-accent-4">Logout</a></li>
        {% endif %}
    </ul>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="{% url 'magazzino:home' %}" class="brand-logo">
                    <img class="circle glass-circle responsive-img" src="{% static 'img/MagazzinoSmart.png' %}" alt="Logo" style="width: 48px; height: 48px; margin-top: 8px; margin-left: 8px;">
                </a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right">
                    {% if user.is_authenticated %}
                        <li class="hide-on-med-and-down"><a href="{% url 'magazzino:prodotti' %}">Prodotti</a></li>
                        <li class="hide-on-med-and-down"><a href="#">Impostazioni</a></li>
                        <li><a class="dropdown-trigger" href="#!" data-target="menu-utente">{{ user.username }}</a></li>
                    {% else %}
                        <li><a href="{% url 'magazzino:login' %}">Login</a></li>
                    {% endif %}
                </ul>
                <ul class="sidenav" id="mobile-nav">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'magazzino:prodotti' %}">Prodotti</a></li>
                        <li><a href="#">Impostazioni</a></li>
                    {% else %}
                        <li><a href="{% url 'magazzino:login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <script !src="">
        $(document).ready( function() {
            M.AutoInit();
        });

        function serializeArrayToFormData(arr) {
            var data = {};
            for (let i = 0; i<arr.length; i++) {
                var input = arr[i];
                data[input.name] = input.value;
            }
            return data;
        }
    </script>
    <script type="text/javascript" src="{% static 'js/materialize/bin/materialize.js' %}"></script>
</body>
</html>
