{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <div class="row center">
        <div class="col xl8 offset-xl2 l10 offset-l1 m12 s12">
            <div class="hoverable card z-depth-2">
                <form id="login-form" method="POST">
                    <div class="card-content">
                        <span class="card-title">Login</span>
                            {% csrf_token %}
                            {% for field in form.visible_fields %}
                                <div class="input-field">
                                    {{ field }}
                                    <label for="{{ field.label }}">{{ field.label }}</label>
                                </div>
                            {% endfor %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    </div>
                    <div class="card-action">
                        <div class="row valign-wrapper" style="margin-bottom: 0px !important;">
                            <div class="col s6 m3 xl4 center-align">
                                <a class="error-btn btn waves-effect waves-red" href="{% url 'magazzino:home' %}">Annulla</a>
                            </div>
                            <div class="col s6 m3 offset-m6 xl4 offset-xl4  center-align">
                                <button class="center waves-effect waves-light btn" type="submit">Login <i class="material-icons right">login</i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}